body  {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

header  {  
  border: 2px solid darkcyan;
  padding: 1px;
  margin: 30px;
  background-color: salmon;
  border-style: ridge;  
}

a:link  {
  text-decoration:none;
  font-weight:bold;
  padding:3px;
  color:black;
}

a:visited  {
  color:black;
}

a:hover  {
  color: darkcyan;
}

h1  {
  text-align: center;
  color: darkcyan;
  text-shadow: 1px 1px white;
}

h2  {
  color: darkcyan;
  text-shadow: 1px 1px white;
}

div.background  {
  background-image: url("/images/Bottles.jpg");
  background-size: cover;
  width: 100%;
}

div.transbox  {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.9;
  margin: 30px;
}

div.transbox h2, h3  {
  color: darkcyan;
  font-weight: bold;
  margin: 5%;
  
} 

div.transbox p  {
  color: darkcyan;
  font-weight: bold;
  margin: 5%;
} 

div.transbox ul  {
  color: darkcyan;
  font-weight: bold;
  margin: 5%;
} 

img  {
  max-height:250px;
  max-width:80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 3px;
}

.nav  {
  display:flex;
  justify-content:space-evenly;
  list-style-type:none;
  padding: 3px;
  overflow: auto;
}

.nav a.active  {
  color: darkcyan;
}

.subHead  {
  text-align: center;
  font-weight: bold;
}

div.sBackground  {
  background-image: url("/images/Fermenter pic.jpg");
  background-size: cover;
  width: 100%;
}

div.tBackground  {
  background-image: url("/images/Caviar Martini Champagne Rose.jpg");
  background-size: 100%;
  width: auto;
}

div.bBackground  {
  background-image: url("/images/Beers.jpg");
  background-size: 100%;
  width: auto;
}

div.aBackground  {
  background-image: url("/images/Dandy_Brewing_Octopus.png");
  background-size: 100%;
  width: auto;
}

div.cBackground  {
  background-image: url("/images/Canning Day.jpg");
  background-size: 100%;
  width: auto;
}

figcaption  {
  text-align: center;
}

footer  {
  border: 2px solid darkcyan;
  padding: 0px;
  margin: 30px;
  background-color: salmon;
  border-style: ridge;
}

footer p  {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
  font-size: 10pt;
  padding: 3px;
}

.facebook  {
  max-height:30px;
  max-width:30px;
  margin-left: 40%;
  margin-right: auto;
  margin-top: 10px;
  display: inline-block;
  position: relative;
}

.twitter  {
  max-height:30px;
  max-width:30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: inline-block;
  position: relative;
}

.insta  {
  max-height:30px;
  max-width:30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: inline-block;
  position: relative;
}

.coupon {
  text-align: center;
}
